@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    background-size: contain;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    font-weight: 500;
    display: grid;
    place-items: center;
}

.container {
    width: 430px;
    overflow: hidden;
    background: white;
    border-radius: 15px;
}

.hero {
    width: 100%;
    height: auto;
}

.text {
    padding: 20px 50px;
}

.title {
    padding: 10px;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

.description {
    padding: 5px;
    color: hsl(224, 23%, 55%);
    font-weight: 500;
}

.plan {
    background-color: hsl(225, 100%, 98%);
    margin: 0 50px 10px 50px;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.plan-left {
    display: flex;
}

.plan-left-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 0px 0 0px 10px;
    font-size: 14px;
}

.plan-left-text h4 {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

.plan-left-text p {
    color: hsl(224, 23%, 55%);
    padding: 2px 0;
}

.plan a {
    font-weight: 900;
    color: hsl(245, 75%, 52%);
}

.plan a:hover {
    text-decoration: none;
    color: hsl(245, 74%,  64%)
}

.proceed-btn, .cancel-btn {
    display: block;
    padding: 15px;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}

.proceed-btn {
    background-color: hsl(245, 75%, 52%);
    margin: 25px 50px 15px 50px;
    color: white;
    border-radius: 12px;
    box-shadow: 0px 5px 20px hsl(224, 23%, 55%);
}

.proceed-btn:hover {
    background-color: hsl(245, 74%,  64%);
}

.cancel-btn {
    color: hsl(224, 23%, 55%);
    margin: 0 0 30px 0;
}

.cancel-btn:hover {
    color: hsl(223, 47%, 23%);
}

@media screen and (max-width: 420px) {
    .container {
        margin: auto 20px;
        width: auto;
        font-size: 14px;
    }

    .plan {
        padding: 15px 20px;
    }

    .plan, 
    .proceed-btn, 
    .cancel-btn {
        margin-left: 25px;
        margin-right: 25px;
        font-size: 13px;
    }
}